<%- include("partials/header.ejs") %>
<img src="<%= img %>" class="img-fluid"/>
<h1><%= title %></h1>
<%- body  %>
<a type="button" class="btn btn-outline-primary" href="/editpost?index=<%= index %>">Edit Post</a>
<%- include("partials/footer.ejs") %>